*{
    background-color: aliceblue;

}

.crossed-out {
    text-decoration: line-through;
}
.form{
    display:inline-block;
}
.hide{
    display: none;
}

span{
    padding-left: 10px;
}
li{
    list-style-type: none;
    /* display: inline-block; */
    max-width: 200px;
    /* background-color: green; */
    overflow:hidden;
    padding-right: 20px;
}

.content button{
    padding: 0 20px;
    margin-right: 4px;
}
/* 
li:hover{
    color: red;
} */
